/* You can add global styles to this file, and also import other style files */
/* Modern CSS Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --primary-color: #4F46E5; /* Electric Blue */
  --secondary-color: #FF6A00; /* Thrival Orange */
  --accent-color: #FF00C8; /* Vivid Pink */
  --text-color: #ffffff; /* White for text */
  --background-color: #121212; /* Dark background */
  --hover-color: #ff5722; /* Button hover color */
  --border-radius: 8px; /* General border radius */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Box shadow */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --card-background: rgba(18, 18, 18, 0.9); /* Dark charcoal with slight transparency */
  --card-border-color: #00B0FF; /* Electric Blue border */
  --card-hover-color: #FF00C8; /* Vivid Pink hover effect */
  --card-shadow: 0 4px 15px rgba(0, 176, 255, 0.2);
}

.hero-animation-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.overlay {
  position: relative;
  padding-bottom: 60px; /* add space at the bottom */
}

.overlay .lottie-position {
  position: absolute;
  top: 55%; /* adjust how far up from the bottom */
  left: 50%;
  transform: translateX(-50%);
}

.margin-sm{
  margin: 6px;
}
.margin-m{
  margin: 12px;

}
.margin-lg{
  margin: 18px;

}
.chip{
  font-size: larger;
}
.container-with-lottie {
  position: relative;
  width: 100%;
  height: 50vh; /* or any height you need */
  overflow: hidden;
  background-color: var(--primary-color);
}

.lottie-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: white;
  text-align: center;

}
.overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #4F46E5;

  z-index: 0;
  opacity: 0.3;
}
