<div class="container p-6">
  <app-hero
    class="mb-5"
    [title]="pageTitle"
    [subtitle]="pageDescription">

  </app-hero>
  <div class="row margin-lg" id="ex_row_cat">
    <div *ngFor="let category of categoriesChallenges" [routerLink]="'explore/'+category.slug" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 shadow-sm border-info card-hover"   [style]="buildStyle([buildCssProperty('background-color','#1F2937')])" >
        <app-lottie-loader *ngIf="category.media" [width]="'100%'" [animationUrl]="category.media.animationUrl" [image]="category.media.imageUrl" class="card-img-top"  />
        <div class="card-body d-flex flex-column   " >
          <h5 class="card-title" [style]="buildStyle([buildCssProperty('color','white')])" >{{ category.name }}</h5>
          <p class="card-text  small flex-grow-1" [style]="buildStyle([buildCssProperty('color','white')])">{{ category.description }}</p>
          <button (click)="openCategoriesDetail(category.slug)"  class="btn btn-light">{{ category.count }} challenges</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>
